<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style1.css"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style1.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    {% block head%} {% endblock %}

</head>
<body>
    <div class="nav__bar">
        <i class="uil uil-moon change-theme" id="theme-button"></i>
    <div>
        <a class = "nav__btns" href="/q">Ask Question</a>
        <a class = "nav__btns" href="/qc">Ask Question with context</a>
        <a class = "nav__btns" href="/sampleqa">Sample QA</a>
    </div>

        
    </div>
        {% block body %} {% endblock %}
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
</body>
</html>