{% extends 'base.html' %}

{% block head %} 
    <title>Sample QA</title>
{% endblock %}

{% block body %} 
<section class="section container" > 
    <h2 class="section__title">Sample Question Answers</h2>
    <span class="section__subtitle">Tamil Open Domain Question Answering System</span>

    <!-- {% if result %}
        <h1>{{ result }}</h1>
    {% endif %} -->
    {%for result in results%}
        <div class="grid">
            <div class="qa__content">
                <label for="" class="qa__label">Context</label>
                {% if result %}
                <textarea name="context" id="context" cols="0" rows="10" class="qa__input" >{{ result.context }}</textarea>
                {%else%}
                <textarea name="context" id="context" cols="0" rows="7" class="qa__input" ></textarea>
                {% endif %}
            </div>

            <div class="qa__content">
                <label for="" class="qa__label">Question</label>
                {% if result %}
                    <textarea name="question" id="question" cols="0" rows="4" class="qa__input" >{{ result.question }}</textarea>
                {%else%}
                    <textarea name="question" id="question" cols="0" rows="4" class="qa__input" ></textarea>
                {% endif %}

            </div>
            {% if result %}
            <div class="qa__content">
                <label for="" class="qa__label">Answer</label>
                <textarea name="question" id="question" cols="0" rows="4" class="qa__input"   >{{ result.answer_text }}</textarea>
            </div>
        </div>

            {% endif %}
        {%endfor%}
</section>
    
    <!-- {% for post in posts: %}ss
        <h1>{{ post.title  }}</h1>
        <h2>{{ post.content  }}</h2>
        <h3>{{ post.date_posted }}</h3>
        {% if post.author %}
            <h3>by {{ post.author }}</h3>
        {% else %}
            <h3>By : N/A</h3>
        {% endif %}

    {% endfor %} -->
{% endblock %}

